/* JSRespresso CSS V1.1 by GPSoft 2020 
     Changelog : 
*/

h1 {
  font-size: 100%;
  text-align: center;
  border-style: solid;
  width: 50%;
  height: 50%;
  background-color: #BFBF00;
  border-radius: 25px;
  border-width: 3px;
}

body {
  font-size: 30pt;
  font-family: Arial;
  font-weight: bold;
  background-color: #FFFFD0; 
}

h3 {
  font-size: 10pt;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1% 0 2% 30%;
}

.tailer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0 0 80%;
}

.grid-regexp {
  display: grid;
  grid-template-columns: 28% 72%;
  padding: 1% 0 3% 5%;
  grid-row-gap: 8%;
}

#regexpr {
	width: 70%;
	height: 50%;
  font-size: 100%;
}

#test1, #test2, #test3, #test4 {
	width: 60%;
	height: 6%;
  font-size: 100%;
}
